# 忽略檔案
*.list
*.code-workspace
.python-version
.luarc.json
.DS_Store
poetry.lock
pyproject.toml
lazy-lock.json
id_ed25519
id_rsa

# 忽略資料夾
.venv/
.vscode/
.mypy_cache/
build/
dist/

# 禁止忽略檔案
!README.md

