# GIT
.github
.git
.gitignore
README.md
SECURITY.md

# Dockerfile
docker
Dockerfile*
docker-compose*
.dockerignore

# 忽略檔案
.env
.wget-hsts
.DS_Store
*.log
*.code-workspace

# 忽略資料夾
*/example
*/.vscode